@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --tj-ff-body: "Sora", sans-serif;
    --tj-ff-heading: "Sora", sans-serif;
    --tj-ff-russo: "Russo One", sans-serif;
    --tj-body: #dddddd;
    --tj-white: #ffffff;
    --tj-off-white: #f6f3fc;
    --tj-black: #000000;
    --tj-black-2: #050709;
    --tj-heading-primary: #102039;
    --tj-heading-secondary: #ea1826;
    --tj-theme-primary: #8750f7;
    --tj-theme-secondary: #2a1454;
    --tj-theme-accent-1: #0f0715;
    --tj-theme-accent-2: #140c1c;
    --tj-grey-1: #747779;
    --tj-grey-2: #d9d9d9;
    --tj-grey-3: #dddddd;
    --tj-grey-4: #22272c;
    --tj-fw-normal: normal;
    --tj-fw-elight: 200;
    --tj-fw-light: 300;
    --tj-fw-regular: 400;
    --tj-fw-medium: 500;
    --tj-fw-sbold: 600;
    --tj-fw-bold: 700;
    --tj-fw-ebold: 800;
    --tj-fw-black: 900;
    --tj-fz-body: 16px;
     --tj-fz-btn: 15px;
    --tj-fz-p: 18px;
    --tj-fz-h1: 65px;
    --tj-fz-h2: 45px;
    --tj-fz-h3: 30px;
    --tj-fz-h4: 24px;
    --tj-fz-h5: 22px;
    --tj-fz-h6: 18px;
    --tj-fz-sub-title: 36px;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--tj-ff-body);
    font-size: var(--tj-fz-body);
    font-weight: var(--tj-fw-regular);
    color: var(--tj-body);
    background-color: var(--tj-black);
  }

  .hire-me-btn {
    text-decoration: none !important;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 10px !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: var(--tj-fz-btn) !important;
    line-height: 1 !important;
    font-weight: var(--tj-fw-bold) !important;
    color: var(--tj-white) !important;
    text-transform: capitalize;
    background-size: 200% !important;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--tj-theme-primary)), color-stop(51%, var(--tj-theme-secondary)), to(var(--tj-theme-primary)));
    background-image: -o-linear-gradient(left, var(--tj-theme-primary) 0%, var(--tj-theme-secondary) 51%, var(--tj-theme-primary) 100%);
    background-image: linear-gradient(to right, var(--tj-theme-primary) 0%, var(--tj-theme-secondary) 51%, var(--tj-theme-primary) 100%);
    border: none;
    border-radius: 50px !important;
    padding: 17px 35px !important;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s !important;
  }
}